@{
    ViewData["Title"] = "Profile";
}
@model Post_EDU.Core.Models.User

<div>
    
    @if (Model.PathImg == null)
    {
        <img src="~/defaultImg/@Model.Role.PathDefaultImg" class="postImg" />
    }
    @if (Model.PathImg != null)
    {
        <img src="~/uploads/@Model.PathImg" class="postImg" />
    }
    <h3>@Model.Name</h3>
    <h6>@Model.Password</h6>
    <h6>@Model.Description</h6>
    
    <p>Date of Register: @Model.DateOfRegister</p>
    <p>Last Login Date: @Model.LastLogin</p>
    
    <form asp-controller="Authorize" asp-action="SingOut" method="get">
        <button type="submit" class="btn btn-primary">SingOut</button>
    </form>

    <br />
    <p>Posts</p>
    @foreach (var post in Model.Posts)
    {
        <a href="@Url.Action("Details", "Post", new {slug = post.Slug})"><h6>@post.Title</h6></a>
    }
</div>