@{
    ViewData["Title"] = "Debug Post";
}
@model Post_EDU.Core.Models.Post

<div>
    <h3>@Model.Title</h3>
    <h6>@Model.Category.NameCategory</h6>
    @if (Model.PathImg == null)
    {
        <img src="~/defaultImg/@Model.Category.PathDefaultImg" class="postImg" />
    }
    @if (Model.PathImg != null)
    {
        <img src="~/uploads/@Model.PathImg" class="postImg" />
    }
    <h6>@Model.Description</h6>
    <p>@Model.Text</p>
    <p><a href="@Url.Action("Details", "User", new {userId = Model.AuthorId})">by @Model.Author.Name</a></p>
    <p>Date: @Model.DateOfCreate</p>
    <p>Likes: @Model.LikeCount</p>
    <br />
    <form asp-controller="Post" asp-action="AddLike" method="post">
        <input name="PostId" type="hidden" value="@Model.IdPost" />
        <input name="CurrentPostSlug"  type="hidden" value="@Model.Slug"/>
        <button type="submit" class="btn btn-primary">Like</button>
    </form>
    <input class="btn btn-primary" type="button" name="ShowForm" onclick="ShowFormComment()" value="Write Comment" />
    <br />
    <form id="commentForm" asp-controller="Post" asp-action="AddComment" method="post">
        <input name="CurrentPostSlug" type="hidden" value="@Model.Slug" />
        <input name="PostId" value="@Model.IdPost" type="hidden" />
        <input name="TextComment" class="form-control" type="text" />
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
    @foreach (var comment in Model.Comments)
    {
        <h6>@comment.Author.Name</h6>
        <p>@comment.TextComment</p>
        <p>@comment.DateOfComment</p>
    }
</div>