@{
    ViewData["Title"] = "Post";
}
@model ICollection<Post_EDU.Core.Models.Post>

<link rel="stylesheet" href="~/css/posts.min.css" asp-append-version="true" />

<div class="content">
    <div class="create-block">
        <h1><a asp-controller="Post" asp-action="Create">Create Post</a></h1>
    </div>
    @foreach (var post in Model)
    {
        <article class="post">
            <div class="wrapper-img">
                @if (post.PathImg == null)
                {
                    <img src="~/defaultImg/@post.Category.PathDefaultImg"/>
                }
                @if (post.PathImg != null)
                {
                    <img src="~/uploads/@post.PathImg"/>
                }
            </div>
            <div class="wrapper-text">
                <a href="@Url.Action("Details", "Post", new {slug = post.Slug})"><h2>@post.Title</h2></a>
                <p>Description: @post.Description</p>
                <p>Categories: @post.Category.NameCategory</p>
                <a href="@Url.Action("Details", "User", new {userId = post.AuthorId})"><p>by @post.Author.Name</p></a>
                <p>Date Of Create: @post.DateOfCreate</p>
                <p><a href="@Url.Action("Details", "Post", new {slug = post.Slug})">Read More...</a></p>
            </div>
        </article>

    }
</div>
